{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}

  <nav>  
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('normal', '설정', true) }}
      {{ macros.m_tab_head2('watcha', '왓챠', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
      {{ macros.setting_input_text('movie_first_order', '우선순위', value=arg['movie_first_order'], desc=['1차 사이트 : naver, daum, tmdb']) }}
      {{ macros.setting_checkbox('movie_use_tmdb_image', 'TMDB 이미지 사용', value=arg['movie_use_tmdb_image'], desc=['네이버, 다음 매칭시 TMDB 까지 매칭 후 이미지 적용']) }}
   {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('watcha', false) }}
      {{ macros.setting_input_textarea('movie_watcha_cookies', '쿠키', value=arg['movie_watcha_cookies'], row='3', desc=None) }}
    {{ macros.m_tab_content_end() }}


  </div><!--tab-content-->
</form>
</div><!--전체-->

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var current_data = null;

$(document).ready(function(){
});



</script>    
{% endblock %}